body {
    margin: 0;
   }
   #navbar {
     display: flex;
     justify-content: space-around;
     position: fixed;
     left: 10px;
     right: 10px;
     top: 10px;
     background: #232323;
     top: 0px;
     left: 0px;
     width: 100%;
   }
   #navbar a {
     text-decoration: none;
     padding: 5px;
     font-size: 20px;
     font-weight: bold;
     color: #aaaaaa;
   }
   main{
     display: grid;
     grid-template-rows: 100vh auto 300px 100px;
   }
   #welcome-section {
     text-align: center;
     color: #aaaaaa;
     background: #232323;
     padding-top: 45vh;
   }
   #projects {
     text-align: center;
     background: white;
   }
   #contact {
     color: #aaaaaa;
     text-align: center;
     background: #232323;
     display: grid;
     grid-template-columns: 1fr;
     justify-items: center;
   }
   #profile-link {
     text-decoration: none;
     font-size: 20px;
     
   }
   #copyright{
     text-align: center;
     background: #232323;
     color: #aaaaaa;
   }
   .tiles {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     justify-items: center;
   }
   .project-tile {
     background: white;
     padding: 30px;
     
   }
   .project-tile a {
     text-decoration: none;
     font-weight: bold;
   }
   .responsive {
     max-width: 100%;
     height: auto;
   }
     
   @media all and (max-width: 600px) {
     #navbar {
       flex-flow: column wrap;
       padding: -5px;
     }
   
     #navbar a {
       text-align: center;
       padding: 5px;
     }
   }
   